body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  height: 100vh;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-image: url("../asset.basic/background.jpg");

  background-size: cover;
  background-position: center;
  z-index: -1;
}

.clouds {
  position: absolute;
  width: 200px;
  height: 120px;
  z-index: 2;

  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.6;

  animation-name: moveCloud;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes moveCloud {
  from {
    left: 100vw;
  }
  to {
    left: -250px;
  }
}

.cloud1 {
  background-image: url("../asset.basic/cloud1.png");
  top: 20%;
  animation-duration: 100s;
  transform: scale(9);
  animation-delay: 0s;
}

.cloud2 {
  background-image: url("../asset.basic/cloud2.png");
  top: 25%;
  animation-duration: 120s;
  transform: scale(8);
  animation-delay: -80s;
}

.cloud3 {
  background-image: url("../asset.basic/cloud3.png");
  top: 15%;
  animation-duration: 80s;
  transform: scale(8);
  animation-delay: -40s;
}

@keyframes Sooook {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text {
  width: 400px;
  height: 400px;

  position: absolute;

  object-fit: contain;
  z-index: 4;

  opacity: 0;

  animation-name: Sooook;
  animation-duration: 10s;

  animation-fill-mode: forwards;
}

.alice {
  top: 705px;
  right: 30px;
}

.mia {
  top: -120px;
  left: 660px;
}

.pazik {
  position: absolute;
  width: auto;
  height: auto;

  z-index: 19;
}

.spark2 {
  top: 150px;
  left: 50px;

  opacity: 0;

  animation-name: banjak;
  animation-delay: 20s;
  animation-duration: 4s;
  animation-timing-function: steps(1, end);
  animation-iteration-count: infinite;
}

.spark3 {
  top: 446px;
  left: -100px;

  opacity: 0;

  animation-name: banjak;
  animation-delay: 20.2s;
  animation-duration: 4s;
  animation-timing-function: steps(1, end);
  animation-iteration-count: infinite;
}

.spark1 {
  top: 78px;
  left: 1px;

  opacity: 0;

  animation-name: banjak;
  animation-delay: 20.3s;
  animation-duration: 4s;
  animation-timing-function: steps(1, end);
  animation-iteration-count: infinite;
}

@keyframes banjak {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  5% {
    opacity: 0.8;
    transform: translateX(0);
  }
  10% {
    opacity: 0.8;
    transform: translateX(5px);
  }
  15% {
    opacity: 0.8;
    transform: translateX(0);
  }
  25% {
    opacity: 0;
    transform: translateX(0);
  }
  75% {
    opacity: 0.8;
    transform: translateX(5px);
  }
  80% {
    opacity: 0.8;
    transform: translateX(0);
  }
  90% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(0);
  }
}

.chrono {
  position: absolute;
  width: auto;
  height: auto;

  top: 110px;
  left: -63px;

  z-index: 17;
}

.ali {
  position: absolute;
  width: auto;
  height: auto;

  top: 290px;
  left: 154px;

  z-index: 20;
}

.butter {
  position: absolute;
  height: auto;
  width: auto;

  top: 590px;
  right: 12px;
  opacity: 1;

  cursor: pointer;
  z-index: 8000;
}

.butter.invisible {
  opacity: 0;
}

.mousebutter {
  position: absolute;
  width: auto;
  height: auto;

  opacity: 0;
  transform: translate(-50%, -50%);

  transition: opacity 0.3s;
  z-index: 8000;
}

.mousebutter.visible {
  opacity: 1;
}

.rabbitb {
  position: absolute;
  width: auto;
  height: auto;

  position: absolute;
  top: 535px;
  left: 735px;

  z-index: 3;
}

.rabbite {
  position: absolute;
  width: auto;
  height: auto;

  z-index: 2;
}

.earl {
  top: 538px;
  left: 738px;

  transform-origin: 45% 40%; /* X축 100%(오른쪽), Y축 100%(아래) */

  animation-name: YahoLeft;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.earr {
  top: 538px;
  left: 738px;

  transform-origin: 50% 70%; /* X축 0%(왼쪽), Y축 100%(아래) */

  animation: YahoRight;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes YahoLeft {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes YahoRight {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
